# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [18]:
import pandas as pd
import numpy as np

my_df = pd.read_csv('data/sp500hst.txt',sep=',',header=None,names=["date", "ticker", "open", "high", "low", "close", "volume"])

print(my_df)

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [19]:
avg_open_close = np.average(my_df[["open", "high", "low", "close"]],axis=0)

print(avg_open_close)

[42.59545766 43.10224339 42.05446367 42.60186485]

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [20]:
my_df['month'] = my_df['date']//100 % 100

print(my_df['month'])

0         8
1         8
2         8
3         8
4         8
         ..
122569    8
122570    8
122571    8
122572    8
122573    8
Name: month, Length: 122574, dtype: int64

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [21]:
grouped = my_df.groupby('ticker').sum()['volume']

print(grouped)

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [22]:
my_df,companies = pd.read_csv('data/sp500hst.txt',sep=',',header=None,names=["date", "ticker", "open", "high", "low", "close", "volume"]),pd.read_csv('data/sp_data2.csv',sep=';',header=None,names=['ticker','name of company','smth'])

result = pd.merge(my_df,companies[['ticker','name of company']],on='ticker')

print(result)

           date ticker   open     high     low  close  volume  \
0      20090821      A  25.60  25.6100  25.220  25.55   34758
1      20090824      A  25.64  25.7400  25.330  25.50   22247
2      20090825      A  25.50  25.7000  25.225  25.34   30891
3      20090826      A  25.32  25.6425  25.145  25.48   33334
4      20090827      A  25.50  25.5700  25.230  25.54   70176
...         ...    ...    ...      ...     ...    ...     ...
82167  20100813   ZION  20.17  20.4300  19.840  19.89   25193
82168  20100816   ZION  19.81  19.9600  19.600  19.95   25914
82169  20100817   ZION  20.07  20.4700  19.830  20.31   31717
82170  20100819   ZION  19.83  20.0000  19.130  19.35   45935
82171  20100820   ZION  19.15  19.2700  18.810  19.14   37225

            name of company
0      Agilent Technologies
1      Agilent Technologies
2      Agilent Technologies
3      Agilent Technologies
4      Agilent Technologies
...                     ...
82167         Zions Bancorp
82168         Zions Bancorp
82169         Zions Bancorp
82170         Zions Bancorp
82171         Zions Bancorp

[82172 rows x 8 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [23]:
recipes,reviews = pd.read_csv('data/recipes_sample.csv',sep=',',header=0,engine='python'),pd.read_csv('data/reviews_sample.csv',sep=',',header=0)

print(recipes,reviews,sep='\n\n')

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [24]:
print(f'''
nrows for recipes: {recipes.shape[0]}
ncols for recipes: {recipes.shape[1]}
dtype for each col:\n {recipes.dtypes}


nrows for reviews: {reviews.shape[0]}
ncols for reviews: {reviews.shape[1]}
dtype for each col:\n {reviews.dtypes}
''')

nrows for recipes: 30000
ncols for recipes: 8
dtype for each col:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object


nrows for reviews: 126696
ncols for reviews: 6
dtype for each col:
 Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [25]:
rec_col,rev_col = pd.isna(recipes).any(axis=0), pd.isna(reviews).any(axis=0)
rec_row,rev_row = pd.isna(recipes).any(axis=1), pd.isna(reviews).any(axis=1)

print(f'''
columns with Na in recipes : {recipes.columns[rec_col]}
columns with Na in reviews : {reviews.columns[rev_col]}

rows with Na to all rows in recipes : {recipes.index[rec_row].size/recipes.index.size}
rows with Na to all rows in reviews : {reviews.index[rev_row].size/reviews.index.size}
''')


# print(recipes.index[rec_row].size,reviews.index[rev_row].size,sep='\n')

columns with Na in recipes : Index(['n_steps', 'description', 'n_ingredients'], dtype='object')
columns with Na in reviews : Index(['review'], dtype='object')

rows with Na to all rows in recipes : 0.5684666666666667
rows with Na to all rows in reviews : 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [26]:
mean = recipes[['minutes','n_steps','n_ingredients']].mean(skipna=True)
print(mean)

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [27]:
rands = recipes['name'].sample(n=10,replace=False)

print(rands)

22935    romano s macaroni grill penne rustica by todd ...
16803           malva pudding  south african baked dessert
14133                           hot and sour cabbage salad
23535                      sauteed red cabbage with apples
28668                                   vegetable parcells
13680                  herbed pork chops in mushroom sauce
9836                        easy banana pudding cheesecake
5596                     chicken and mushrooms with cheese
23389                                     sauced crab ball
10792                          fast chinese cucumber salad
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [28]:
#так ведь они и так с нуля нумеруются вроде

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [29]:
interm = recipes[recipes['minutes']<=20 ]
quickies = interm[interm['n_ingredients']<=5]

print(quickies)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [30]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

print(recipes,recipes.dtypes,sep='\n')

recipes = pd.read_csv('data/recipes_sample.csv',sep=',',header=0,parse_dates = ['submitted'])

print(recipes,recipes.dtypes,sep='\n')

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object
                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [31]:
before_2010 = recipes[recipes['submitted']<=pd.to_datetime('2010-12-31')]

print(before_2010)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[27661 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [32]:
recipes['description_length'] = recipes['description'].str.len()
print(recipes['description_length'])

0        330.0
1        255.0
2         39.0
3        154.0
4        587.0
         ...
29995    484.0
29996    286.0
29997    311.0
29998    648.0
29999    125.0
Name: description_length, Length: 30000, dtype: float64

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [33]:
recipes['name'] = recipes['name'].str.title()
print(recipes['name'])

0               George S At The Cove  Black Bean Soup
1                  Healthy For Them  Yogurt Popsicles
2                        I Can T Believe It S Spinach
3                                Italian  Gut Busters
4            Love Is In The Air  Beef Fondue   Sauces
                             ...
29995    Zurie S Holey Rustic Olive And Cheddar Bread
29996            Zwetschgenkuchen  Bavarian Plum Cake
29997     Zwiebelkuchen   Southwest German Onion Cake
29998                                     Zydeco Soup
29999          Cookies By Design   Cookies On A Stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [34]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
print(recipes['name_word_count'])

0        8
1        5
2        7
3        3
4        8
        ..
29995    8
29996    4
29997    5
29998    2
29999    7
Name: name_word_count, Length: 30000, dtype: int64

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [35]:
grouped = recipes[['contributor_id','id']].groupby('contributor_id').count()
most_contributed = grouped.index[grouped['id'].argmax()]
print(grouped, most_contributed,sep='\n\n')

                 id
contributor_id
1530              5
1533            186
1534             50
1535             40
1538              8
...             ...
2001968497        2
2002059754        1
2002234079        1
2002234259        1
2002247884        1

[8404 rows x 1 columns]

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [36]:
mean_rating = reviews[['recipe_id','rating']].groupby('recipe_id').mean()

amm = np.unique(recipes['id']).size - np.unique(reviews['recipe_id']).size

print(mean_rating,amm,sep='\n')

             rating
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]
1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [37]:
recipes[['id','submitted']].groupby(recipes.submitted.year).count()

            id
submitted
1999-08-06   1
1999-08-09   4
1999-08-10   3
1999-08-11   3
1999-08-12   4
...         ..
2018-07-25   1
2018-07-30   1
2018-07-31   1
2018-08-11   2
2018-08-15   1

[4032 rows x 1 columns]

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [38]:
union_51 = pd.merge(recipes[['name','id']],reviews[['user_id','rating','recipe_id']],how = 'inner',left_on='id',right_on='recipe_id')[['name','id','user_id','rating']]

print(union_51)

# recipe id w/ no review: 276594

union_51[union_51['id'] == 276594]

                                          name      id  user_id  rating
0        George S At The Cove  Black Bean Soup   44123   743566       5
1        George S At The Cove  Black Bean Soup   44123    76503       5
2        George S At The Cove  Black Bean Soup   44123    34206       5
3           Healthy For Them  Yogurt Popsicles   67664   494084       5
4           Healthy For Them  Yogurt Popsicles   67664   303445       5
...                                        ...     ...      ...     ...
126691                             Zydeco Soup  486161   305531       5
126692                             Zydeco Soup  486161  1271506       5
126693                             Zydeco Soup  486161   724631       5
126694                             Zydeco Soup  486161   133174       5
126695  Cookies By Design   Cookies On A Stick  298512   804234       1

[126696 rows x 4 columns]

Empty DataFrame
Columns: [name, id, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [48]:
union_52 = pd.merge(recipes[['id','name']],reviews[['recipe_id','review']].groupby('recipe_id').count(),how = 'left',left_on='id',right_on='recipe_id').fillna(0)
union_52.columns = ['recipe_id','name','review_count']

print(union_52['review_count'])

# recipe id w/ no review: 276594

print(union_52[union_52['recipe_id'] == 276594])

0          7.0
1          8.0
2          6.0
3        208.0
4          5.0
         ...
29995      3.0
29996      8.0
29997      2.0
29998      7.0
29999     12.0
Name: review_count, Length: 30000, dtype: float64
      recipe_id                               name  review_count
5000     276594  Windy S  Sweet And Sour Meatballs           0.0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [49]:
yearly_rating = pd.merge(recipes[['id','submitted']],reviews[['recipe_id','rating']],how='inner',left_on='id',right_on='recipe_id')[['submitted','rating']].groupby(recipes).mean()


yearly_rating.index[yearly_rating['rating'].argmin()]

1999

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [50]:
recipes = recipes.sort_values(by=['name_word_count'],ascending=False)
recipes.to_csv("data/6_1_result.csv")
# pd.to_excel(recipes)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [52]:
with pd.ExcelWriter("data/6_2_result.xlsx") as writer:
    union_51.to_excel(writer,sheet_name="Рецепты с оценками")
    union_52.to_excel(writer,sheet_name="Количество отзывов по рецептам")

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3